@model Course
<h1>Edit Course Page</h1>
<form>
    <div class="form-group mt-3">
        <label for="CourseTitle">CourseTitle</label>
        <input type="text" class="form-control" id="CourseTitle" name="CourseTitle" value="@Model.CourseTitle" />
    </div>
    <div class="form-group mt-3">
        <label for="CourseName">CourseName</label>
        <input type="text" class="form-control" id="CourseName" name="CourseName" value="@Model.CourseName" />
    </div>
    <div class="form-group row-cols-2 mt-3">
        <label for="CourseCode">CourseCode</label>
        <input type="text" class="form-control" id="CourseCode" name="CourseCode" value="@Model.CourseCode" />
    </div>
    <a href="@Url.Action("Edit", new { @Model })" class="btn btn-primary mt-3"> Update</a>
</form>