@model List<Student>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">CourseName</th>
            <th scope="col">CourseCode</th>
            <th scope="col">CourseTitle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr class="table-active">
                <td>@obj.Id</td>
                <td>@obj.FirstName</td>
                <td>@obj.LastName</td>
                <td>@obj.DateOfBirth</td>
                <td><button type="button" class="btn btn-primary">Edit</button></td>
                <td><button type="button" class="btn btn-danger">Delete</button></td>
            </tr>
        }

    </tbody>
</table>